#point{
  font-family: "맑은 고딕";
  font-size: 50px;
  font-weight: bold;
  width: 100%;
  margin-top: 5%;
  margin-bottom: 7%;
}
img{
  margin: 5px;
}
#title{
  margin-top: 5%;
  font-weight: bold;
}
#message{
  margin-bottom: 5%;
  font-family: "맑은 고딕";
  line-height: 2.9em;
}
#explain{
  margin-bottom: 5%;
  font-family: "맑은 고딕";
}
